header {
  min-height: 30dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

main {
  padding: 1em;
  margin: 0 auto;

  max-width: var(--viewing-width);
}

h2 {
  display: flex;
  align-items: center;
  gap: 1em;
}

h2 hr {
  flex-grow: 1;
  border: none;
  height: 1px;
  background-color: var(--clr-neutral-80);
}

.credits__list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 5em;
  gap: 2em;
}

.credits__list li {
  border-radius: 1em;
  background-color: var(--clr-neutral-85);
  border: 1px solid var(--clr-neutral-75);
  padding: 1em;
  width: 14rem;
  aspect-ratio: 5 / 6;
  display: flex;
  flex-direction: column;
  gap: 0.5em;

  --pfp-height: 8rem;

  margin-top: calc(var(--pfp-height) / 2);
}

.credits__list img {
  aspect-ratio: 1 / 1;
  width: var(--pfp-height);
  border: inherit;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 auto;
  margin-top: calc(var(--pfp-height) / -2);
  margin-bottom: 0.5em;
}

.credits__list [data-name] {
  font-size: 1.25rem;
  font-weight: 600;
  text-align: center;
  color: var(--clr-neutral-10);
}

.credits__list [data-role] {
  margin-top: auto;
  font-weight: 500;
  color: var(--clr-neutral-25);
}

.credits__list [data-commits] {
  color: var(--clr-neutral-25);
}
