---
import Layout from "../layouts/Layout.astro";
---

<Layout page={{ title: "Manderrow - Download", description: "Download Manderrow now." }}>
  <header>
    <h1>Download</h1>
  </header>
</Layout>
