---
import "./index.css";

import Layout from "../layouts/Layout.astro";
import Carousel from "../components/Carousel";
import ElegantGameIcons from "../components/ElegantGameIcons";

import gameSelectImg from "../assets/img/game_select.png";
import profileImg from "../assets/img/profiles.png";
import modsImg from "../assets/img/mods.png";

import lethalLogo from "../assets/img/games/lethal-company.png";
import repoLogo from "../assets/img/games/repo.png";
import roundsLogo from "../assets/img/games/rounds.png";
import contentWarningLogo from "../assets/img/games/content-warning.png";
import valheimLogo from "../assets/img/games/valheim.png";
import riskOfRainLogo from "../assets/img/games/risk-of-rain.png";
---

<Layout
  page={{
    title: "Manderrow - mod manager",
    description: "The most well-made and comprehensive mod manager for Thunderstore",
  }}
>
  <header>
    <div class="header__text">
      <h1>Manderrow</h1>
      <p>The most well-made and comprehensive mod manager for Thunderstore.</p>
    </div>

    <ElegantGameIcons
      id="header-icons"
      icons={[
        {
          point: [65, -50],
          img: lethalLogo,
        },
        {
          point: [-80, -60],
          img: repoLogo,
        },
        {
          point: [85, -20],
          img: roundsLogo,
        },
        {
          point: [-60, -16],
          img: contentWarningLogo,
        },
        {
          point: [25, -28],
          img: valheimLogo,
        },
        {
          point: [-20, -30],
          img: riskOfRainLogo,
        },
      ]}
    />

    <button class="header__scrollBtn">↓</button>
  </header>

  <main>
    <section class="screenshots" id="convergence-target">
      <Carousel
        navDots
        elements={[
          {
            id: "game_select",
            image: { src: gameSelectImg.src, alt: "Game select screen" },
          },
          {
            id: "profiles",
            image: { src: profileImg.src, alt: "Profiles screen" },
          },
          {
            id: "mods",
            image: { src: modsImg.src, alt: "Mod list screen" },
          },
        ]}
        client:load
      />
    </section>
    <section class="features">
      <h2>Features</h2>

      <ul class="features__cards">
        <li class="features__card">
          <h3>Performant</h3>
        </li>
        <li class="features__card">
          <h3>Fully Cross-platform</h3>
        </li>
        <li class="features__card">
          <h3>Multilingual</h3>
        </li>
        <li class="features__card">
          <h3>For Developers</h3>
        </li>
      </ul>
    </section>
    <section class="graphs">
      <h2>Graphs</h2>
    </section>
    <section class="cta">
      <h2>Download Now</h2>
    </section>
    <section class="credits">
      <h2>Credits</h2>
    </section>
  </main>
</Layout>

<script>
  import { ICON_CLASS } from "../components/ElegantGameIcons";

  document.querySelector(".header__scrollBtn")!.addEventListener("click", () => {
    document.querySelector("section")!.scrollIntoView();
  });

  const view = document.getElementById("convergence-target")!;
  const icons = document.querySelectorAll<any>("#header-icons li." + ICON_CLASS);

  function reposition() {
    const animationPercent = Math.min(1, window.scrollY / view.offsetTop / 0.5);

    for (const icon of icons) {
      const negative = icon.dataset.negative === "false";
      icon.style.setProperty("--offset", `${animationPercent}`);
      icon.style.setProperty("--rotation", `${(negative ? 20 : -20) + animationPercent * (negative ? -40 : 40)}deg`);
    }
  }

  document.addEventListener("scroll", reposition, { passive: true });
  reposition();
</script>
