/* Page styles */

h2 {
  font-size: 2.25rem;
  font-family: var(--font-heading);
  font-weight: 700;
  margin-bottom: 0.5em;
}

h2:has(+ p) {
  margin-bottom: 0.25em;
}

h2:has(+ p) + p {
  margin-bottom: 2em;
}

main {
  padding: 1em;
}

section {
  padding: 1em 0;
  margin-bottom: 3em;
}

/* Header styles */

header {
  min-height: 70dvh;
  display: grid;
  grid-template-areas:
    "text"
    "text"
    "text"
    ".";
  position: relative;
  padding: 0.5em;
  gap: 1em;
  align-items: center;
  justify-items: center;
}

header::before {
  content: "";
  position: absolute;
  width: 90%;
  aspect-ratio: 1 / 1;
  top: 0%;
  translate: 0% -65%;
  background-image: radial-gradient(circle at center, rgba(255, 255, 255, 0.3), transparent 70%);
  pointer-events: none;
}

.header__text {
  grid-area: text;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
}

.header__text h1 {
  font-size: 7rem;
  font-weight: 800;
  line-height: 1.2;
  font-family: var(--font-heading);
}

.header__text p {
  font-size: 1.25rem;
  text-wrap: balance;
  color: var(--clr-neutral-10);
}

.header__text a {
  background-color: var(--clr-primary-40);
  color: var(--clr-neutral-05);
  padding: 0.35em 1em;
  border-radius: 100vmax;
  margin-top: 1.5em;
  font-size: 1.5rem;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

/* Screenshots carousel */

.carousel-logo,
.carousel-logo__borderGlow {
  position: absolute;
  top: 0%;
  left: 50%;
  translate: -50% -50%;
  width: 5rem;
  aspect-ratio: 1 / 1;
  isolation: isolate;
}

.carousel-logo {
  --border-width: 3px;
  --border-radius: 0.5rem;
  padding: var(--border-width);
  border-radius: var(--border-radius);
  background-color: var(--clr-neutral-80);
  overflow: hidden;
  z-index: 1;
  transition: background-color 0.2s ease, box-shadow 1s ease;
  box-shadow: 0 0 1em -0.2em hsl(var(--clr-primary-50));
}

.carousel-logo__inner {
  --padding-width: 4px;
  padding: var(--padding-width);
  width: 100%;
  height: 100%;
  border-radius: calc(var(--border-radius) - var(--padding-width));
  background-color: var(--clr-neutral-85);
}

.carousel-logo img {
  width: 100%;
  filter: grayscale(70%);

  transition: filter 0.2s ease;
}

.carousel-logo[data-active="true"] img {
  filter: grayscale(0%);
}

.carousel-logo::before,
.carousel-logo__borderGlow::before {
  content: "";
  position: absolute;
  inset: -100%;
  z-index: -1;
  background-image: var(--bgImg);
  opacity: 0;
  transition: opacity 0.5s ease;
  animation: glowRotate 3s linear infinite paused;
}

.carousel-logo[data-active="true"]::before,
.carousel-logo[data-active="true"] + .carousel-logo__borderGlow::before {
  animation-play-state: running;
  opacity: 1;
}

.carousel-logo__borderGlow {
  pointer-events: none;
  overflow: hidden;
  border-radius: inherit;
  filter: blur(1em);
}

@keyframes glowRotate {
  to {
    transform: rotate(360deg);
  }
}

.screenshots {
  position: relative;
  padding-top: 0;

  --bgImg: conic-gradient(
    red 0deg,
    red 20deg,
    transparent 30deg 50deg,
    orange 60deg,
    orange 80deg,
    transparent 90deg 110deg,
    yellow 120deg,
    yellow 140deg,
    transparent 150deg 170deg,
    green 180deg,
    green 200deg,
    transparent 210deg 230deg,
    blue 240deg,
    blue 260deg,
    transparent 270deg 290deg,
    indigo 300deg,
    indigo 320deg,
    transparent 330deg 350deg,
    red 360deg
  );
}

.screenshots__carousel {
  border: 1px solid var(--clr-neutral-80);
  border-radius: 1rem;
  padding: 1em 0;
  padding-top: 2em;
  background-color: var(--clr-neutral-90);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
}

.screenshots__carousel img {
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.2);
}

/* Features section */

.features {
  max-width: var(--viewing-width);
  margin-inline: auto;
}

.features__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 1em;
}

.features__card {
  --border-width: 1px;
  border: var(--border-width) solid transparent;
  background-image: radial-gradient(
      circle at var(--mouse-x) var(--mouse-y),
      rgba(155, 155, 155, 0.1),
      transparent 12rem
    ),
    linear-gradient(15deg, var(--clr-neutral-90), var(--clr-neutral-85));
  background-clip: border-box, padding-box;
  background-attachment: fixed, local;
  background-size: cover, auto;

  padding: 1em;
  border-radius: 8px;

  position: relative;
}

.features__card::after {
  content: "";
  position: absolute;
  background-image: radial-gradient(
      circle at var(--mouse-x) var(--mouse-y),
      var(--clr-neutral-45) 1rem,
      var(--clr-neutral-65) 2rem,
      transparent 12rem
    ),
    linear-gradient(15deg, var(--clr-neutral-80), var(--clr-neutral-80));
  background-attachment: fixed, local;
  background-size: cover, auto;
  inset: calc(-1 * var(--border-width));
  z-index: -1;
  border-radius: inherit;
}

.features__card h3 {
  margin-bottom: 0.5em;
}

.features__card p {
  color: var(--clr-neutral-15);
}

/* Graphs section */

.graphs > h2,
.graphs > p {
  text-align: center;
}

.graphs__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 1.5em;
  max-width: var(--viewing-width);
  margin: 0 auto;
}

.graphs__item {
  --border-radius: 1em;

  background-color: var(--clr-neutral-85);
  border: 1px solid var(--clr-neutral-80);
  padding: 1em;
  border-radius: var(--border-radius);
  grid-column: 1 / -1;

  display: grid;
  grid-template-columns: subgrid;
  gap: 1em;
}

.graphs__item * {
  grid-row: 1 / -1;
}

.graphs__info {
  align-self: self-start;
}

.graphs__info p {
  color: var(--clr-neutral-15);
}

.graphs__disclaimer {
  color: var(--clr-neutral-20);
  margin: 0 auto;
  margin-top: 2em;
  max-width: 70ch;
}

.graphs__chart {
  align-self: stretch;
}

.graphs__item:nth-child(even) .graphs__chart {
  grid-column: 1 / -2;
}

.graphs__item:nth-child(odd) .graphs__chart {
  grid-column: 2 / -1;
}

/* CTA section */

.cta {
  margin: 0 -1em;
  min-height: 30dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Credits section */
