footer {
  background-color: var(--clr-neutral-85);
  border-top: 1px solid var(--clr-neutral-80);
  background-image: radial-gradient();
}

.footer__content {
  display: grid;
  grid-template-areas:
    "logo links links"
    "socials socials socials"
    "copyright copyright copyright";
  align-content: stretch;
  min-height: 30dvh;
  padding: 2em;
  max-width: var(--viewing-width);
  margin: 0 auto;
}

.footer__logo {
  grid-area: logo;
  width: 6rem;
}

.footer__links {
  grid-area: links;
}

.footer__socials {
  grid-area: socials;
  justify-self: center;
}

.footer__copyright {
  grid-area: copyright;
  justify-self: center;
  align-self: self-end;
}
