.navbar {
  --padding: 0.45em;

  position: sticky;
  top: var(--padding);
  width: 100%;
  max-width: calc(var(--viewing-width) - 24rem);
  margin: 0 auto;
  z-index: 100;
  isolation: isolate;
  height: var(--navbar-height);
  border: 1px solid hsl(var(--clr-neutral-hs) 30% / 50%);
  backdrop-filter: blur(12px);
  background-color: hsl(var(--clr-neutral-hs) 20% / 50%);
  border-radius: 4px;
}

.navbar__list {
  max-width: var(--viewing-width);
  margin: 0 auto;
  padding: 0 var(--padding);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar__list li {
  height: 100%;
  padding: 0.25em 0;
}

.navbar__list li:first-child {
  padding: 0.35em 0;
}

.navbar__list li:first-child a {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 0.25em;
  color: var(--clr-neutral-05);
  text-decoration: none;
}

.navbar__list li:first-child img {
  height: 100%;
  object-fit: contain;
}

.navbar__list li:last-child {
  padding: 0;
  display: flex;
  align-items: center;
}

.navbar__downloadLink {
  background-color: var(--clr-primary-40);
  color: var(--clr-background);
  padding: 0.35em 1em;
  border-radius: 0.25em;
  border-radius: 100vmax;
  text-decoration: none;

  transition: background-color 0.3s;
}

.navbar__downloadLink:hover {
  background-color: var(--clr-primary-50);
}
