---
import styles from "./Navbar.module.css";

import logo from "../assets/img/logo/Manderrow logo.svg";
---

<nav class={styles.navbar}>
  <ul class={styles.navbar__list}>
    <li>
      <img src={logo.src} alt="Manderrow logo" />
    </li>
    <li>
      <a href="#screenshots">About</a>
    </li>
    <li>
      <a href="#features">Features</a>
    </li>
    <li>
      <a href="#graphs">Graphs</a>
    </li>
    <li>
      <a href="/download">Download</a>
    </li>
  </ul>
</nav>
