---
import styles from "./Navbar.module.css";

import logo from "../assets/img/logo/Manderrow logo.svg";
---

<nav class={styles.navbar}>
  <ul class={styles.navbar__list}>
    <li>
      <a href="/"> <img src={logo.src} alt="Manderrow logo" /> Manderrow</a>
    </li>
    <li>
      <a href="/download" class={styles.navbar__downloadLink}>Download</a>
    </li>
  </ul>
</nav>
